.cursorWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  mix-blend-mode: difference;
  pointer-events: none;
}

@media (max-width: 900px) {
  .cursorWrapper { display: none; }
}
